/**
*
* Testing
*
**/
#loginBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

@media (max-width: 360px) {
  #loginBox {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #loginBox {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
  }
}

#loginBox #firstSec {
  padding: 80px;
  width: 60%;
}

@media (max-width: 360px) {
  #loginBox #firstSec #hero {
    width: 200px;
    margin-top: 20px;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #loginBox #firstSec #hero {
    width: 300px;
    margin-left: 10px;
  }
}

#loginBox #firstSec #loginLogo2 {
  -o-object-fit: contain;
     object-fit: contain;
  width: 130px;
}

#loginBox #secondSec {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 360px) {
  #loginBox #secondSec {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #loginBox #secondSec {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#loginBox #secondSec button {
  background-color: #39cdcc;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin-top: 20px;
  width: 70%;
  cursor: pointer;
}

#loginBox #secondSec button:hover {
  background-color: #62e9e9;
}

#loginBox #secondSec p {
  font-size: 12px;
  color: #39cdcc;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

#loginBox #secondSec p:hover {
  text-decoration: underline;
}

#loginBox #secondSec #bigtextDiv {
  color: #213f7d;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#loginBox #secondSec #bigtextDiv p {
  color: #1f2a3a;
  font-weight: 100;
  font-size: 12px;
  margin-top: 7px;
}

#loginBox #secondSec #secBigtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loginBox #secondSec #secBigtext #secinpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px #525151 solid;
  margin: 10px 0;
  width: 70%;
}

@media (max-width: 360px) {
  #loginBox #secondSec #secBigtext #secinpt {
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #loginBox #secondSec #secBigtext #secinpt {
    width: 100%;
  }
}

#loginBox #secondSec #secBigtext #secinpt p {
  font-weight: 700;
  color: #39cdcc;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

#loginBox #secondSec #secBigtext #secinpt input {
  width: 85%;
  border: none;
}

@media (max-width: 360px) {
  #loginBox #secondSec #secBigtext #secinpt input {
    width: 75%;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #loginBox #secondSec #secBigtext #secinpt input {
    width: 75%;
  }
}

#loginBox #secondSec #secBigtext input {
  width: 70%;
  padding: 8px;
  outline: none;
}

@media (max-width: 360px) {
  #loginBox #secondSec #secBigtext input {
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #loginBox #secondSec #secBigtext input {
    width: 100%;
  }
}

#loginBox #secondSec #secBigtext input::-webkit-input-placeholder {
  font-size: 11px;
  letter-spacing: 2px;
}

#loginBox #secondSec #secBigtext input:-ms-input-placeholder {
  font-size: 11px;
  letter-spacing: 2px;
}

#loginBox #secondSec #secBigtext input::-ms-input-placeholder {
  font-size: 11px;
  letter-spacing: 2px;
}

#loginBox #secondSec #secBigtext input::placeholder {
  font-size: 11px;
  letter-spacing: 2px;
}
/*# sourceMappingURL=login.css.map */