@import "../../breakpoints/breakpoints.scss";

#actionbox {
  border-radius: 10px;
  position: absolute;
  right: 20px;
  background-color: #fff;
  width: 120px;
  z-index: 2000;
  display: block;
  box-shadow: rgba(179, 179, 179, 0.299) 5px 10px 10px 10px;
  .actionflex {
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    padding: 8px;
  }
  .actionflex:hover {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px;
    background-color: rgb(238, 238, 238);
  }
}
