@import "../../breakpoints/breakpoints.scss";

#cardHolder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  @include media("<=phone") {
    flex-direction: column;
  }
}

#tableCard {
  background-color: #fff;
  border-radius: 10px;
  padding: 18px;
  box-shadow: rgba(219, 219, 219, 0.299) 5px 1px 10px 0px;
  overflow-x: scroll;
  width: 100%;
  //   min-width: 700px;
}

table {
  width: 100%;
  min-width: 900px;
  overflow-x: scroll;
  td,
  th {
    border-bottom: 1px solid #dddddd;
    padding: 8px;
  }
  thead {
    border-bottom: 2px solid rgb(110, 110, 110);
    background-color: #fff;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    color: #213f7d;
    tr {
      border-bottom: 2px solid rgb(167, 167, 167);
    }
  }

  .tddiv {
    display: flex;
    justify-content: left;
    align-items: center;
    p {
      font-size: 12px;
      margin-right: 10px;
    }
  }
  .filterIcon {
    cursor: pointer;
    color: #213f7d;
    margin-right: 5px;
    // margin-top: 3px;
    font-size: 18px;
  }
  .filterIcon:hover {
    cursor: pointer;
    color: #213f7d;
    margin-right: 5px;
    transition: all;
    background-color: rgb(230, 230, 230);
    padding: 3px;
    font-size: 18px;
  }

  tbody {
    tr {
      text-align: center;
      border-bottom: 2px solid rgb(10, 10, 10);

      td {
        padding: 5px;
        position: relative;
        p {
          font-size: 12px;
          text-align: left;
        }
        .activebadge {
          padding: 5px 10px;
          border-radius: 10px;
          background-color: #39cd632b;
          color: #39CD62;
          font-size: 10px;
          margin-right: 50px;
        }
      }
    }

    tr:hover {
      //   translate: 0.1em;
      transition: all;
      position: relative;
      cursor: pointer;
      box-shadow: rgba(219, 219, 219, 0.299) 5px 1px 10px 0px;
      color: rgb(179, 174, 174);
    }
  }
}
