/**
*
* Testing
*
**/
#header_Box {
  -webkit-box-shadow: rgba(219, 219, 219, 0.299) 5px 1px 10px 0px;
          box-shadow: rgba(219, 219, 219, 0.299) 5px 1px 10px 0px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}

@media (max-width: 360px) {
  #header_Box {
    margin-top: 50px;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #header_Box {
    margin-top: 50px;
  }
}

#header_Box #innerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 360px) {
  #header_Box #innerDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #header_Box #innerDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#header_Box #innerDiv .three_ {
  margin-right: 40px;
  border-right: 1px #d4d4d4 solid;
  padding-right: 20px;
}

@media (max-width: 360px) {
  #header_Box #innerDiv .three_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px white solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #header_Box #innerDiv .three_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px white solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#header_Box #innerDiv .three_ .pr {
  color: #213f7d;
}

#header_Box #innerDiv .three_ .pbold {
  color: #213f7d;
  font-weight: 700;
  font-size: 17px;
}

#header_Box #innerDiv .three_ .psmall {
  color: #a4a4a4;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

#header_Box #innerDiv .three_:last-child {
  border-right: 1px white solid;
}

#header_Box #innerDiv #avatarBox {
  margin-right: 40px;
  background-color: #21407d2e;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_Box #innerDiv #avatarBox #avaPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#header_Box #routesBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 150px 150px 150px 150px 150px;
      grid-template-columns: 150px 150px 150px 150px 150px 150px;
  gap: 5px;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 360px) {
  #header_Box #routesBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
    margin-top: 20px;
  }
}

@media (min-width: 361px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 361px) and (max-width: 768px) and (min-resolution: 192dpi) {
  #header_Box #routesBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 150px 150px 150px;
        grid-template-columns: 150px 150px 150px 150px;
    gap: 5px;
    margin-top: 20px;
  }
}

#header_Box #routesBox .routeLinks {
  margin-bottom: -8px;
}

#header_Box #routesBox .routeLinks p {
  color: #213f7d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

#header_Box #routesBox .routeLinks p:hover {
  color: #39cdcc;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

#header_Box #routesBox .routeLinks:hover {
  border-bottom: 2px solid #39cdcc;
  margin-bottom: -8px;
}

#header_Box #routesBox .activeRoute {
  border-bottom: 2px solid #39cdcc;
  margin-bottom: -8px;
  color: #39cdcc;
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=headerlayout.css.map */